<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="landing_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="~/css/Landing Page/landing_page.css">
    <link rel="stylesheet" href="~/css/Landing Page/basic_infos.css">
    <link rel="stylesheet" href="~/css/Landing Page/method_steps.css">
    <link rel="stylesheet" href="~/css/Landing Page/other_section.css">
    <link rel="stylesheet" href="~/css/Landing Page/user_review.css">
    <link rel="stylesheet" href="~/css/Landing Page/footer.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

//	$(document).ready(function(){
//	  $(".user_review_arrow_image").click(function(){
//		$(".user_review_card").animate({left: '-250px'});
//	  });
//	});
    </script>

</head>
<body>

    <div class="container-fluid main_page">

        <div class="row introduction_section">

            <div class="col-lg-2"></div>

            <div class="col-lg-3 intro_text_col">
                <div class="intro_text">
                    <h1>
                        টেলি-ফার্মইং এ আপনাকে স্বাগতম
                    </h1>
                    <p>
                        এটি একটি ওয়েব ভিত্তিক প্ল্যাটফর্ম যেখানে কৃষকরা যে কোনও কৃষি সংক্রান্ত সমস্যা নিয়ে যে কোনো জায়গা থেকে বিশেষজ্ঞের সাথে যোগাযোগ করতে পারেন
                    </p>
                </div>
                <div class="get_started_button_first">
                    <button class="btn"> <a asp-action="SelectNavigationTypePage">আরম্ভ করুন</a> </button>
                </div>
            </div>


            <div class="col-lg-5">
                <div class="intro_image">
                    <img src="~/images/Landing Page/intro_image_2.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-2"></div>

        </div>

        <!-- Basic Section -->

        <div class="row basic_section">

            <div class="col-lg-3"></div>

            <div class="col-lg-3">
                <div class="basic_text">
                    <h1>
                        সহজে টাকা প্রদান সুবিধা
                    </h1>
                    <p>
                        আপনি সহজেই বিকাশের মাধ্যমে অর্থ প্রদান করতে পারেন
                    </p>
                </div>
            </div>

            <!--			<div class="col-lg-2"></div>-->

            <div class="col-lg-3">
                <div class="basic_image">
                    <img src="~/images/Landing Page/basic_image.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-3"></div>

        </div>


        <div class="row basic_section basic_section_reversed">

            <div class="col-lg-3"></div>

            <div class="col-lg-3">
                <div class="basic_image basic_image_reversed">
                    <img src="~/images/Landing Page/basic_image_2.png" alt="">
                </div>
            </div>

            <!--			<div class="col-lg-2"></div>-->

            <div class="col-lg-3">
                <div class="basic_text basic_text_reversed">
                    <h1> আমাদের বিশেষজ্ঞরা সক্ষম এবং দ্রুত</h1>
                    <p>
                        আমরা আমাদের বিশেষজ্ঞদের যাচাই করি এবং আপনাকে সেরা পরিষেবা সরবরাহ করি।
                    </p>
                </div>
            </div>

            <div class="col-lg-3"></div>

        </div>

        <div class="row basic_section">

            <div class="col-lg-3"></div>

            <div class="col-lg-3">
                <div class="basic_text">
                    <h1> ব্যবহারকারী বান্ধব ইন্টারফেস</h1>
                    <p>
                        আমরা আমাদের ইন্টারফেসটি সহজ এবং সহজভাবে ডিজাইন করেছি।
                    </p>
                </div>
            </div>

            <!--			<div class="col-lg-2"></div>-->

            <div class="col-lg-3">
                <div class="basic_image">
                    <img src="~/images/Landing Page/basic_image_3.png" alt="">
                </div>
            </div>

            <div class="col-lg-3"></div>

        </div>

        <!-- ------------------------------------------ -->
        <!-- Method Steps --->


        <div class="row steps_section_row">

            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <div class="steps_section">
                    <div class="step_title">
                        <h1>মাত্র ৫টি ধাপ</h1>
                    </div>

                    <div class="step_text">
                        <p>অ্যাকাউন্ট টাকা দেখুন</p>
                    </div>

                    <div class="step_arrow_image">
                        <img src="~/images/Landing Page/arrow.svg" alt="">
                    </div>
                    <div class="step_text">
                        <p>পোস্ট দিন</p>
                    </div>

                    <div class="step_arrow_image">
                        <img src="~/images/Landing Page/arrow.svg" alt="">
                    </div>
                    <div class="step_text">
                        <p>
                            সাক্ষাতের সময় নিন
                        </p>
                    </div>

                    <div class="step_arrow_image">
                        <img src="~/images/Landing Page/arrow.svg" alt="">
                    </div>
                    <div class="step_text">
                        <p>সাক্ষাত করুন</p>
                    </div>

                    <div class="step_arrow_image">
                        <img src="~/images/Landing Page/arrow.svg" alt="">
                    </div>
                    <div class="step_text">
                        <p>শেষ</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4"></div>

        </div>

        <!-- ------------------------------------------ -->

        <!-- Other Account Section -->

        <div class="row other_account_section">

            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <div class="other_account_title">
                    <h1>আমরা দুই ধরণের মানুষের জন্য সুযোগ সরবরাহ করি</h1>
                </div>

                <div class="content_card">
                    <div class="content_card_image">
                        <img src="~/images/Landing Page/other_account_image.jpg" alt="">
                    </div>

                    <div class="content_card_text">
                        <h3>
                            বিশেষজ্ঞের জন্য
                        </h3>
                        <p>
                            আমরা সারা দেশে বিশেষজ্ঞের জন্য সুযোগ সরবরাহ করি। একটি অ্যাকাউন্ট তৈরি করুন এবং
                            আমাদের প্রশাসকদের কাছে নিজেকে যাচাই করুন এবং আপনার নতুন যাত্রা শুরু করুন
                        </p>
                    </div>
                </div>

                <div class="content_card">
                    <div class="content_card_image">
                        <img src="~/images/Landing Page/other_account_image_2.png" alt="">
                    </div>

                    <div class="content_card_text">
                        <h3>এজেন্টদের জন্য</h3>
                        <p>
                            আমরা সারা দেশে এজেন্টদের জন্য সুযোগ সরবরাহ করি। একটি অ্যাকাউন্ট তৈরি করুন এবং
                            আমাদের প্রশাসকদের কাছে নিজেকে যাচাই করুন এবং আপনার নতুন যাত্রা শুরু করুন
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-3"></div>

        </div>
        <!-- ------------------------------------------ -->
        
        <!-- User Review Cards -->
        <!--<div class="row user_review_section">

            <div class="col-lg-2">
            </div>

            <div class="col-lg-1">
                <div class="user_review_arrow_image">
                    <img src="~/images/Landing Page/arrow_2.svg" alt="">
                </div>
            </div>

            <div class="col-lg-6">

                <div class="user_review_title">
                    <h1>আমরা দুই ধরণের মানুষের জন্য সুযোগ সরবরাহ করি</h1>
                </div>

                <div class="user_review_card">
                    <div class="user_review_image">
                        <img src="~/images/Landing Page/other_account_image.jpg" alt="">
                    </div>

                    <div class="user_review_text">
                        <h3>বিশেষজ্ঞের জন্য</h3>
                        <p>
                            আমরা সারা দেশে বিশেষজ্ঞের জন্য সুযোগ সরবরাহ করি। একটি অ্যাকাউন্ট তৈরি করুন এবং
                            আমাদের প্রশাসকদের কাছে নিজেকে যাচাই করুন এবং আপনার নতুন যাত্রা শুরু করুন
                        </p>
                    </div>
                </div>

                <div class="user_review_card">
                    <div class="user_review_image">
                        <img src="~/images/Landing Page/other_account_image_2.png" alt="">
                    </div>

                    <div class="user_review_text">
                        <h3>বিশেষজ্ঞের জন্য</h3>
                        <p>
                            আমরা সারা দেশে বিশেষজ্ঞের জন্য সুযোগ সরবরাহ করি। একটি অ্যাকাউন্ট তৈরি করুন এবং
                            আমাদের প্রশাসকদের কাছে নিজেকে যাচাই করুন এবং আপনার নতুন যাত্রা শুরু করুন
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-1">
                <div class="user_review_arrow_image user_review_arrow_image_reversed">
                    <img src="~/images/Landing Page/arrow_2_reversed.svg" alt="">
                </div>
            </div>

            <div class="col-lg-2">
            </div>

        </div>-->
        <!-- --------------------------------------- -->

        <!-- Footer -- -->
        <div class="row footer">

            <div class="col-lg-3 footer_col_1">
                <div class="text_1">
                    <p>
                        বিশেষজ্ঞদের দ্বারা সমর্থিত বিস্তৃত সমাধান
                    <p>
                </div>
                <div class="get_started_button">
                    <a asp-controller="Home" asp-action="SelectNavigationTypePage"><p>আরম্ভ করুন</p></a>
                </div>
            </div>

            <div class="col-lg-3 footer_col_2">
                <div class="text_2">
                    <p>
                        যোগাযোগ করুন
                    </p>
                    <p>মোবাইল নং: +৮৮৯৫৬৮৯৯৪</p>
                    <p>ইমেইল: telefarming@gmail.com</p>
                    <p>ঠিকানাঃ ৪৪/৪ মতিঝিল,ঢাকা</p>
                </div>
            </div>

            <div class="col-lg-3 footer_col_3">
                <div class="text_3">
                    <p>তথ্যসূত্র</p>
                    <p>https://www.freepik.com</p>
                    <p>https://www.adobe.com/products/xd</p>
                </div>
            </div>

            <div class="col-lg-3 footer_col_4">
                <div class="text_4">
                    <p>
                        সামাজিক যোগাযোগ মাধ্যম
                    </p>
                    <p>https://www.facebook.com/telefarming</p>
                    <p>https://www.reddit.com/r/telefarming</p>
                    <p>https://twitter.com/telefarming</p>
                </div>
            </div>

        </div>




    </div>

</body>
</html>