@model Tele_Farming.Models.Specialist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Specialist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_number" class="control-label"></label>
                <input asp-for="contact_number" class="form-control" />
                <span asp-validation-for="contact_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bkash_number" class="control-label"></label>
                <input asp-for="bkash_number" class="form-control" />
                <span asp-validation-for="bkash_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="certificate_file_path" class="control-label"></label>
                <input asp-for="certificate_file_path" class="form-control" />
                <span asp-validation-for="certificate_file_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nid_file_path" class="control-label"></label>
                <input asp-for="nid_file_path" class="form-control" />
                <span asp-validation-for="nid_file_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profile_picture_path" class="control-label"></label>
                <input asp-for="profile_picture_path" class="form-control" />
                <span asp-validation-for="profile_picture_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="is_approved" class="control-label"></label>
                <input asp-for="is_approved" class="form-control" />
                <span asp-validation-for="is_approved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
