<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Tele_Farming</title>
</head>
<body>


    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
