@model Tele_Farming.Models.Farmer

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- CSS only -->
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

         JavaScript Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    -->


    <link rel="stylesheet" href="~/css/Password Reset/password_test.css">
    <!--  <script src="password_test.js" ></script>-->
    <!--  <link rel="stylesheet" href="nav.css">-->
    <!--  <link rel="stylesheet" href="nav.css">-->
</head>
<body>


    <div class="container-fluid">


        <div class="row">

            <div class="col-lg-4"></div>

            <div class="password_reset_form col-lg-4">

                <form asp-action="VerifyCodePasswordReset">


                    <input asp-for="farmer_id" type="hidden" class="form-control" value=@Model.farmer_id>

                    <div class="form-group">

                        <div class="" id="enter_code_form_group">
                            <label for="code">
                                কোডটি লিখুন
                            </label>
                            <input asp-for="PasswordResetCode" type="text" class="form-control" placeholder="Enter the Code" id="PasswordResetCode" name="PasswordResetCode">
                            <div class="valid-feedback">বৈধ</div>
                            <div class="invalid-feedback">অনুগ্রহ করে এই ঘরটি পুরন করুন</div>
                        </div>

                    </div>

                    <div class="form-group text-left pt-3">

                        @*<button class="btn mr-2" id="send_code_email_button" type="button" value="Send Code in Email">
                                <a asp-controller="Farmers" asp-action="SendCode" asp-route-type="email">Send Code in Email</a>
                            </button>

                            <button class="btn" id="send_code_mobile_button" type="button" value="Send Code in Mobile">
                                <a asp-controller="Farmers" asp-action="SendCode" asp-route-type="mobile">Send Code in Mobile</a>
                            </button>*@

                        @*<input class="btn" id="send_code_submit_button" type="submit" value="Submit Code">*@
                        <button class="btn" id="send_code_submit_button" type="submit">
                            জমা দিন
                        </button>

                    </div>




                </form>

            </div>


            <div class="col-lg-4"></div>

        </div>


    </div>


</body>
</html>